/*--------------------------------------------------------*\
                            BASE
\*--------------------------------------------------------*/
.main-wrapper {
    width: 555px;
    margin: auto;
}
h1, h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 0.9rem;
}
/*--------------------------------------------------------*\
                            Layout
\*--------------------------------------------------------*/
.l-main {
    flex-direction: column-reverse;
    margin-bottom: 0px;
}
.l-lodging {  
    flex: 1.2;
    margin: 20px 0 20px 0;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-top: 25px;
}
.l-aside {
    height: 100%;
}
/*--------------------------------------------------------*\
                            HEADER
\*--------------------------------------------------------*/
.navigation_ul li {
    font-size: 0.9rem;
}
.navigation_ul a {
    padding: 43px 16px 0;
}
/*--------------------------------------------------------*\
                    LODGING SEARCH BAR
\*--------------------------------------------------------*/
.search-bar {
    position: relative;
}
.search-bar input {
    width: 91%;
}
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}
.search-bar_submit::after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: '\f002';
}
.search-bar_submit {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 4px;
}
.search_title p, .filter-result {
    font-size: 0.9rem;
}
.filter, .filter_cat {
    flex-wrap: wrap;
}
.filter p {
    margin-bottom: 10px;
}
/*--------------------------------------------------------*\
                     LODGING LEFT SIDE
\*--------------------------------------------------------*/
.lodging_price {
    font-size: 0.8rem;
}
.lodging_container {
    padding-left: 27px;
    justify-content: center;
}
.lodging_h2{
    padding-left: 0;
}
.fa-chart-line {
    display: none;
}
.lodging_h2 {
    text-align: center;
}
.afficher-plus {
    padding-left: 48px;
}
/*--------------------------------------------------------*\
                     LODGING RIGHT SIDE
\*--------------------------------------------------------*/
.lodging-as_stars {
    margin-top: 18px;
}
.aside_title {
    justify-content: center;
}
.lodging-as_img {
    flex: 5;
}
.lodging-as_box:hover{
    transform: none;
}
/*--------------------------------------------------------*\
                        ACTIVITIES
\*--------------------------------------------------------*/
.activity {
    margin-right: 0;
}
.activities_container {
    justify-content: space-around;
}
.activities_title {
    text-align: center;
}
.activity_title {
    padding: 8px 0;
    text-align: center;
    margin-bottom: 6px;
}
.activity_img--long, .long, .activity_img--medium, .medium, .activity_img--small, .small {
    height: 180px;
}
.activity_img--long, .activity_img--medium, .activity_img--small {
    width: 333px;
}
/*--------------------------------------------------------*\
                        FOOTER
\*--------------------------------------------------------*/
.footer_list {
    margin-right: 18px;
}
.footer_list h4 {
    font-size: 0.9rem;
}