/*--------------------*\
        ResetCss
\*--------------------*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------*\
                            COLOR

Website color :
- blue #0065FC
- light blue #DEEBFF
- grey background #F2F2F2
\*--------------------------------------------------------*/

/*--------------------------------------------------------*\
                            FONTS
\*--------------------------------------------------------*/
@font-face {
    font-family: "Raleway_bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}
/*--------------------------------------------------------*\
                            BASE
\*--------------------------------------------------------*/
html, body {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    scroll-behavior: smooth;
}
.main-wrapper {
    width: 1024px;
    margin: auto;
}
.mainContent, .mainFooter {
    padding: 0 20px;
}
.mainFooter {
    background-color: #F2F2F2;
}
h1, h2 {
    font-family: 'Raleway_bold', Arial, sans-serif;
    font-size: 1.1rem;
}
h3 {
    font-family: 'Raleway_bold', Arial, sans-serif;
    font-size: 0.8rem;
}
p {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
    color: black;
}
/*--------------------------------------------------------*\
                            Layout
\*--------------------------------------------------------*/
.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
}
.l-search {
    width: 100%;
    margin-bottom: 25px;
}
.l-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.l-lodging {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-top: 25px;
    margin-right: 23px;
    flex: 3.3;
}
.l-aside {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 25px;
    flex: 1;
}
.l-footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: flex-start;
}
/*--------------------------------------------------------*\
                            MODS
\*--------------------------------------------------------*/
/*--------------------------------------------------------*\
                            HEADER
\*--------------------------------------------------------*/
/*LOGO*/
.logo {
    cursor: pointer;
}
.logo-img {
    height: 40px;
}
/*NAV*/
.navigation, .navigation ul {
    display: flex;
}
.navigation ul {
    list-style-type: none;
}
.navigation_ul li {
    font-size: 0.8rem;
    margin-right: 18px;
}
.navigation_ul a {
    padding: 44px 16px 0;
}
.navigation_ul a:hover {
    border-top: 1px solid #0065FC;
    color: #0065FC;
}
.sign-in {
    font-family: 'Raleway_bold', Arial, sans-serif;
    color: #0065FC;
    cursor: pointer;
    padding-left: 15px;
}
/*--------------------------------------------------------*\
                    LODGING SEARCH BAR
\*--------------------------------------------------------*/
.search_title {
    margin-bottom: 15px;
}
.search_title h1 {
    margin-bottom: 5px;
}
.search_title p, .filter-result{
    font-size: 0.7rem;
    letter-spacing: 0.025rem;
    color: #4e4e4e;
}
.search-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.search-bar label {
    padding: 9px 13px;
    width: 35px;
    height: 35px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.search-bar_icon {
    font-size: 0.8rem;
}
.search-bar input {
    height: 35px;
    border: 1px solid #F2F2F2;
    padding-left: 14px;
    font-family: 'Raleway_bold', Arial, sans-serif;
    font-size: 0.8rem;
    width: 16%;
}
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}
.search-bar input:focus {
    outline: none;
}
.search-bar ::placeholder {
    color: #000000;
}
.search-bar_submit {
    cursor: pointer;
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 10px 14px;
    border: none;
}
.search-bar_submit::after {
    content: 'Rechercher';
}
/*--------------------------------------------------------*\
                    CATEGORIES FILTER
\*--------------------------------------------------------*/
.filter, .filter_cat {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.filter {
    margin-bottom: 15px;
}
.filter_title {
    margin-right: 20px;
}
.filter p {
    font-family: 'Raleway_bold', Arial, sans-serif;
    color: #000000;
}
.filter_cat_icon {
    color: #0065FC;
    padding: 10px 6px;
    background-color: #DEEBFF;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right: 9px;
    position: relative;
    right: 2px;
    font-size: 0.8rem;
}
.fas {
    text-align: center;
}
.filter_cat_label {
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 13px;
    margin-right: 17px;
    cursor: pointer;
}
.filter_cat_label:hover {
    background-color: #0065FC;
    color: #fff;
    border-color: #DEEBFF;
} 
/*INFO*/
.filter-result_icon {
    font-size: 0.6rem;
    color: #0065FC;
    padding: 5px 5px 5px 6px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}
/*--------------------------------------------------------*\
                        MAIN CONTENT
\*--------------------------------------------------------*/
/*--------------------------------------------------------*\
                     LODGING LEFT SIDE
\*--------------------------------------------------------*/
.lodging_h2{
    padding-left: 22px;
}
.lodging_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 22px;
    margin-bottom: 20px;
}
.lodging_box {
    background-color: #fff;
    width: 203px;
    height: 173px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 11px -1px rgb(0 0 0 / 15%);
    margin: 20px 22px 0 0;
    /*transform: scale(1);
    transition: 400ms;*/
}
.lodging_box:hover{
    transform: scale(1.15);
}
.lodging_box--clickable {
    position: absolute;
    width: 203px;
    height: 173px;
    z-index: 1;
}
.lodging_img {
    position: relative;
    overflow: hidden;
    height: 101px;
    margin: 3px 3px 10px 3px;
    border-radius: 10px 10px 0 0;
}
.cannebiere, .hPort, .mouettes, .hMer, .lePanier, .hAmina, .soleilMatin, .coeurEau, .bleuBlanc, .vieuxPort, .fortPomegues, .frioul, .parcNational, .notreDame, .longChamp {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.lodging_txtbox {
    padding: 0 10px 0 10px;
}
.lodging_title {
    margin-bottom: 5px;
}
.lodging_price {
    font-size: 0.7rem;
    margin-bottom: 3px;
}
.is-blue {
    color: #0065FC;
}
.is-grey {
    color: #F2F2F2;
}
.afficher-plus {
    font-family: 'Raleway_bold', Arial, sans-serif;
    padding-left: 22px;
    margin-bottom: 22px;
}
.fa-star {
    font-size: 0.6rem;
}
/*--------------------------------------------------------*\
                     LODGING RIGHT SIDE
\*--------------------------------------------------------*/
.aside_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.lodging-as_box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 105px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 11px -1px rgb(0 0 0 / 15%);
    margin-bottom: 25px;
    /* transform: scale(1); 
    transition: 400ms;*/
}
.lodging-as_box:hover{
    transform: scale(1.15);
}
.lodging-as_box--clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.lodging-as_img {
    position: relative;
    width: 43%;
    overflow: hidden;
    margin: 3px 0 3px 3px;
    border-radius: 10px 0 0 10px;
    flex: 3;
}
.lodging-as_txtbox {
    padding: 11px 0 0 13px;
    flex: 5;
}
.lodging-as_stars {
    margin-top: 23px;
}
/*--------------------------------------------------------*\
                        ACTIVITIES
\*--------------------------------------------------------*/
.activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 11px -1px rgb(0 0 0 / 15%);
}
.activities_twobox--last .activity {
    margin-right: 0;
}
.activity_title {
    height: 33px;
    padding: 13px 0 11px 11px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.activities_title {
    margin-bottom: 15px;
}
.activity--clickable {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
}
.activities_container {
    display: flex;
    flex-wrap: wrap;
}
.activity_img--long, .activity_img--medium, .activity_img--small {
    width: 229px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.activity_img--long, .long {
    height: 350px;
}
.activity_img--medium, .medium{
    height: 195px;
}
.activity_img--small, .small {
    height: 130px;
}
/*--------------------------------------------------------*\
                        FOOTER
\*--------------------------------------------------------*/
.footer_list {
    flex : 1;
}
.footer_list h4 {
    font-family: 'Raleway_bold', Arial, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.footer_list ul {
    list-style-type: none;
    font-size: 0.8rem;
}
.footer_list ul li {
    margin-bottom: 7px;
}